.saucepan-root {
    width: 100%;
    height: 100%;
}

.saucepan-root > .wrapper {
    width: 100%;
    height: 100%;
}

.saucepan-root > .wrapper > .header-container:hover .header-edit {
    visibility: visible;
    padding: 0;
}

.saucepan-root > .wrapper > .header-container > .header-wrapper {
    display: inline-block;
}

.saucepan-root > .wrapper > .header-container > .header-wrapper > #header {
    padding: var(--dimen-medium-padding);
    font-weight: 800;
    font-size: 1.8em;
    color: var(--color-primary-text);
}

.saucepan-root > .wrapper > .header-container form {
    display: inline-block;
    margin-right: var(--dimen-medium-padding);
}

.saucepan-root > .wrapper > .header-container .header-edit {
    visibility: hidden;
    padding: 0;
    background-color: transparent;
}

.saucepan-root > .wrapper > .header-container form > #input_submit {
    display: none;
}