.container-show {
    visibility: visible;
    opacity: 1;
    transition: visiblity 0s, opacity 0.5s linear;
}
.container-hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.container > .wrapper {
    height: 100%;
    padding: var(--dimen-medium-padding);
    background-color: var(--color-surface);
    color: var(--color-on-surface);
}

.dismiss-button {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    float: right;
}

.dismiss-button:hover {
    background-color: var(--color-primary);
}

.dismiss-button > #icon {
    display: block;
    margin: auto;
}

.header {
    font-weight: 700;
    font-size: 1.2em;
    color: var(--color-on-surface);
}

.editor-form > label {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 0.8em;
    text-transform: uppercase;
}