.component-root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

.component-root button {
    padding: var(--dimen-tiny-padding);
    background-color: var(--color-secondary);
    border-radius: var(--dimen-surface-radius);
    border: none;
    outline: none;
    color: var(--color-on-secondary);
    font-size: 0.9em;
    font-weight: 500;
}

.component-root button:hover {
    cursor: pointer;
    background-color: var(--color-secondary-variant);
    transition: 0.5s ease-in-out;
}

.component-root .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin-left: var(--dimen-medium-padding);
    margin-right: var(--dimen-medium-padding);
}

.component-root .container form input {
    width: 100%;
    margin-top: var(--dimen-tiny-padding);
    margin-bottom: var(--dimen-tiny-padding);
    padding: var(--dimen-small-padding);
    background-color: var(--color-primary-variant);
    color: var(--color-on-primary);
    border-radius: 6px;
    border: 1px solid var(--color-primary-variant);
    outline: none;
    font-family: 'Rubik';
    font-size: 1em;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.component-root .container form input:hover {
    border: 1px solid var(--color-secondary-variant);
    transition: border 0.3s ease-in-out;
}

.component-root .container form button {
    width: 100%;
    margin-top: var(--dimen-medium-padding);
    padding: var(--dimen-small-padding);

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sauce-list {
    padding-inline-start: 0px;
}

.sauce-list .sauce-container {
    margin: var(--dimen-medium-padding);
    padding: var(--dimen-medium-padding);
    background-color: var(--color-tertiary);
    border-radius: var(--dimen-surface-radius);
    border: 1px solid var(--color-primary-variant);
    list-style: none;
    color: var(--color-on-primary);
}

.sauce-list .sauce-container button {
    margin-right: var(--dimen-medium-padding);
    margin-bottom: var(--dimen-small-padding);
}
