@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
	--color-primary:#4C566A;
	--color-primary-variant: #3B4252;
	--color-on-primary: #ECEFF4;
	--color-secondary: #5E81AC;
	--color-secondary-variant: #5376a1;
	--color-on-secondary: #ffffff;
	--color-tertiary: #434C5E;
	--color-surface: #ECEFF4;
	--color-on-surface: var(--color-primary);
	--color-window-background: var(--color-primary);
	--color-toolbar: var(--color-primary-variant);
	--color-secondary-text: var(--color-primary);

	--dimen-icon-size: 16px;
	--dimen-medium-padding: 16px;
	--dimen-small-padding: 8px;
	--dimen-tiny-padding: 4px;
	--dimen-surface-radius: 4px;
}

body {
	margin: 0;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-window-background);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::placeholder {
	color: var(--color-secondary);
}

button {
	border: none;
    outline: none;
    margin-right: var(--dimen-small-padding);
	padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
    border-radius: var(--dimen-surface-radius);
    font-size: 1.2em;
}

button:hover {
	cursor: pointer;
	background-color: var(--color-secondary-variant);
    transition: 0.5s ease-in-out;
}