@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
	--color-primary: #d32f2f;
	--color-primary-variant: #9a0007;
	--color-primary-transparent: #d32f2f1f;
	--color-on-primary: #ffffff;
	--color-surface:#212121;
	--color-on-surface: #ffffff;
	--color-window-background: #1b1b1b;
	--color-toolbar: var(--color-primary-variant);
	--color-primary-text:#ffffff;
	--color-secondary-text: #aaabb8;
	--color-border: var(--color-secondary-text);

	--dimen-icon-size: 16px;
	--dimen-medium-padding: 16px;
	--dimen-small-padding: 8px;
	--dimen-tiny-padding: 4px;
	--dimen-surface-radius: 4px;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-window-background);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
	width: 100%;
    margin-bottom: var(--dimen-small-padding);
	padding: var(--dimen-small-padding);
	border-radius: var(--dimen-surface-radius);
    border: 1px solid var(--color-secondary-text);
	outline: none;
    background-color: var(--color-window-background);
    color: var(--color-primary-text);
    font-weight: 400;
	font-size: 1em;
}

input:hover {
	border: 1px solid var(--color-primary);
}

::placeholder {
	color: var(--color-secondary-text);
}

button {
	border: none;
    outline: none;
    margin-right: var(--dimen-small-padding);
	padding: 8px 32px 6px;
	background-color: var(--color-primary);
    color: var(--color-on-primary);
	border-radius: var(--dimen-surface-radius);
	font-weight: 500;
	font-size: 1em;
	text-transform: uppercase;
}

button:hover {
	cursor: pointer;
	background-color: var(--color-primary-variant);
    transition: 0.5s ease-in-out;
}